/******* COLORS USED
* body- background                  : #d5e4ed
* address                           : silver;
* read more                         : #ADBDBB
* h4,nav text,nav a hover bacground : #81B2CA
* searchFor                         : #ADBDBB;
* heart- red                        : #CF1818;
*/

* {
    box-sizing: border-box;     
   font-family: 'Comfortaa', cursive;      
}

body {    
    background-color: #d5e4ed;
}

.hover:hover {
    transform: scale(1.1);
    transition: 0.5s;
    border-radius: 3px;
}

.container {
    margin: 20px auto;
    width: 100vw;
    border-radius: 3px;
}

.shadow {
    box-shadow:  5px 5px 20px silver;
}
.fa-heart {
    color: #CF1818;
}
/********************************
************** HEADER ***********
********************************/
.nav {
    border: 1px solid silver;
    margin-top: 20px;
    border-radius: 3px;
    background-color: white;
    color: #81B2CA;
}
.nav a {
   padding: 20px 25px;
   font-size: 20px;
}

.nav a:hover {
    text-decoration: none;
    background-color: #81B2CA;
    color: white;
}

.nav a:focus {
    text-decoration: none;
}

#searchFor,
button {
    border: none;
    background-color: white;
    color:  #ADBDBB;
    height: 40px;
    margin: 18px 7px 18px 30px;
}

#searchFor {
    border-left: 1px solid silver;
    padding-left: 20px;
    width: 150px;    
    font-style: italic;
}

/*****************************
************* MAIN ***********
******************************/
.wrapper {
    display: grid;
    grid-template-columns: 270px 270px 400px;
    grid-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px
}

/************** CARD WITH ROUND IMAGE *******/
.card1 {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    padding-top: 70px;
    border-radius: 3px;
    height: 425px;
    position: relative;
}

.round-img {
    width: 150px;
    border-radius: 50%;
}

.name {
    font-size: 30px;
    margin-bottom: 0;
    color: #81B2CA;
}

.fa-map-marker {
    padding-right: 5px;
    color: #d5e4ed;
}

.map a {
    color: silver;
    text-decoration: none;
}

.icons {
    text-align: center;
    color: white;
    font-size: 35px;
    position: absolute;
    width: 100%;   
    bottom: 0;
    right: 0; 
    display: flex;    
}

.icons div {     
    background-color: #E2DFDF; 
    flex: 1; 
    padding: 15px;
}

.r-border{    
    border-right: 1px solid white;
}

/*********** SINGLE IMAGE ***********/
.image {
    background-color: white;
    grid-column-start: 2; 
    grid-column-end: 3; 
    background-image: url(../image/raindeer.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    height: 425px;  
    border-radius: 3px;
    color: #97A5A3;
}

.right-heart {
    float: right;
}

.amazing {
    padding: 20px;
}

.amazing .fa {
    font-size: 20px;
}

.view {
    width:300px;
    height:350px;
    padding:2%;
    display: table-cell;
    text-align: center;
    vertical-align: bottom;   
}

.view button {
    width: 100px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    text-transform: uppercase;   
    border-radius: 3px;  
}
.view button:hover {
    background-color: #d5e4ed;
    transition: 1s;
}

/************* IMAGE AND TEXT ***********/
.text {
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 5;
    border-radius: 3px;
}

.img-back-text {
    background-image: url(../image/raindeer-long.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 210px;
    border-radius: 3px 3px 0 0 ;  
    display: flex;  
    align-items: flex-end;
}

.img-back-text .fa-search-plus {
    margin: 20px 40px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    color: white;
}

.img-back-text .fa-search-plus:hover {
    color: silver;
    transform: scale(1.1);
    transition: 1s;
}

.title {
    display: flex;
    justify-content: space-between;
    color: #ADBDBB;
    font-size: 12px;
}
.title h4 {
    color: #81B2CA;
}
.title p {
    padding-top: 30px;
}
.title-text {
    padding: 15px 40px 20px 40px;
    color: silver;
    font-size: 14px;
    text-align: justify;
}

#more-text {
    display: none;
    text-align: justify;
}

.read-more {
     font-style: italic;
     color: #81B2CA;
}
.read-more:hover {
    color: #7f8182;
}

.read-more:active {
    font-size: 13px;
}

/*************************
****** STEPS SECTION *****
*******************/
.row {
    padding: 0;
    margin: 0;
}
.steps {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: white;
    height: 160px;
    border-radius: 3px;
}

.step {
    width: 33.33%;
    position: relative;
    border-right: 1px solid silver;
}

.circle {
    text-align: center;
    padding: 15px;
    margin-right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    background-color:#81B2CA;
    transition: 0.5s;
    float: left;
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}
.circle:hover {
    color: #CF1818;
    background-color: white;
    border: 2px solid #81B2CA;
}

.stepT {    
    float: right;
    width: 250px;
    padding: 12px 12px 0 0;    
}
.stepT p {
    color: silver;
}

.stepT h4 {
    color: #81B2CA;
    padding-top: 18px;
}

.step:last-child {
    border-radius: 0 3px 3px 0;
    border-right: none;
}


/***********************************
************ @MEDIA ****************
***********************************/

@media screen and (max-width: 1199px) {
    .nav {
        margin-top:10px; 
    }
    .nav a {
        padding: 15px;
    }
    #searchFor,
    button {
        height: 30px;
    }
    #searchFor {
        width: 90px;
        padding-left: 5px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 25% 25% 45%;
        grid-gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px
    }
    .title-text {
        padding: 15px ;
        color: silver;
        font-size: 14px;
        text-align: justify;
    }
    .circle {
        padding: 10px;
        margin-right: 10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-size: 20px;
        left: 15px;
        transform: translateY(-50%);
    }
    .stepT {    
        float: right;
        width:70%;
        padding: 12px 12px 0 0;    
    }    
}
@media screen and (max-width: 993px) {
    .nav {
        margin-top:10px;         
    }
    .nav a {
        padding: 7px;
        font-size: 15px;
    }
    #searchFor,
    button {
        height: 18px;
        margin: 10px;
    }
    #searchFor {
        width: 10%;
        padding-left: 15px;
        font-size: 10px;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-gap: 25px;
        margin-top: 30px;
        margin-bottom: 30px
    }
    .title-text {
        padding: 15px ;
        color: silver;
        font-size: 14px;
        text-align: justify;
    }
    .text {
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        border-radius: 3px;
    }
    
    .circle {
        padding: 10px;
        margin-right: 10px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        font-size: 20px;
        left: 15px;
        transform: translateY(-50%);
    }

    .steps {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 25px;
        margin-top: 10px;
        margin-bottom: 10px;        
        height: 80px;
        background-color: transparent;
        box-shadow: none;
    }    
    .step {
        width: 100% ;
        border-right: none;
        height: 80px;
        background-color: white;
        box-shadow: 5px 5px 20px silver;
        border-radius: 3px;
    }
    .stepT {        
        padding: 0;
        margin:0;
        width: 70%;
    }
    .stepT h4 {
        padding-top: 10px;
        margin: 0;
        font-size: 16px;
    }
    .stepT p {
        font-size: 12px;
    }
    .steps1-1 {        
        height: auto;
        border-radius: 3px;
    }
    .steps1-2 {
        grid-row-start: 4;
        height: auto;
        border-radius: 3px;
    }
    .steps1-3 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 5;
        height: auto;
        border-radius: 3px;
    }    
}

@media screen and (max-width: 510px) {
    .nav {
        margin-top:5px;         
    }
    .nav a {
        padding: 7px;
        font-size: 10px;
    }
    #searchFor,
    button {
        height: 12px;
        margin: 6px;
    }
    #searchFor {
        width: 10%;
        padding-left: 10px;
        font-size: 10px;
    }
    #searchB{
        font-size: 10px !important;
        margin:5px 0;
    }
    .wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 15px;
        margin-top: 10px;
        margin-bottom: 10px
    }
    .card1 {
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        padding-top: 40px;
        height: 325px;
    }
    .name {
        font-size: 20px;
    }
    .icons {
        color: white;
        font-size: 25px;         
    }
    /*********** SINGLE IMAGE ***********/
    .image {
        grid-column-start: 1; 
        grid-column-end: 2; 
        grid-row-start: 2;
        height: 325px;  
        border-radius: 3px;
        color: #97A5A3;
    }
    .view {
        width:400px;
        height: 250px;
    }
    
    .view button {
        width: 100px;
        height: 40px;        
    }
    /***** Text**/
    .title-text {
        padding: 15px ;
        color: silver;
        font-size: 14px;
        text-align: justify;
    }
    /************* IMAGE AND TEXT ***********/
    .text {
        background-color: white;
        grid-column-start: 1; 
        grid-column-end: 2;       
        grid-row-start: 3;
        border-radius: 3px;
    }
      
}