* {
    box-sizing: border-box;        
}

.container {
    margin: 20px auto;
    width: 100vw;
    background-color: #d5e4ed;
    border-radius: 3px;
}

.shadow {
    box-shadow:  5px 5px 20px silver;
}
/*************
*** HEADER ***
*************/
.nav {
    border: 1px solid silver;
    margin-top: 20px;
    border-radius: 3px;
    background-color: white;
}
.nav a {
   padding: 20px 30px;
   font-family: 'Merienda', cursive;
   font-size: 20px;
}

#searchFor,
button {
    border: none;
    background-color: white;
    color: silver;
    font-style: italic;
    height: 40px;
    margin: 18px 7px 18px 30px;
}

#searchFor {
    border-left: 1px solid silver;
    padding-left: 20px;
    width: 150px;
}
/*******************
******* MAIN *******
*******************/
.wrapper {
    display: grid;
    grid-template-columns: 25%;
    grid-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px
}

/*** CARD WITH ROUND IMAGE ***/
.card1 {
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    height: auto;
    text-align: center;
    padding-top: 70px;
    border-radius: 3px;
}

.round-img {
    width: 150px;
    border-radius: 50%;
}

.name {
    font-size: 30px;
    margin-bottom: 0;
}

.fa-map-marker {
    padding-right: 5px;
}

.map a {
    color: silver;
    text-decoration: none;
}

.icons {
    align-items: center;
    text-align: center;
    color: silver;
    font-size: 35px;
}

.row.icons div {
    border-top: 1px solid silver;
    width: 33.33%;
    margin: 70px auto 0 auto;    
    padding: 20px ;
    border-right: 1px solid silver;
}

.row.icons div:last-child {
    border-right: none;
}

/**** SINGLE IMAGE ****/
.image {
    background-color: white;
    grid-column-start: 2; 
    grid-column-end: 3; 
}


/**** IMAGE AND TEXT ****/
.text {
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 5;
}

/*******************
*** STEPS SECTION **
*******************/
.row {
    padding: 0;
    margin: 0;
}
.steps {
    grid-column-start: 1;
    grid-column-end: 4;
}

.step {
    width: 33.33%;
}


/* **************
** COL- WIDTH **
***************
.col-3 {
    width: 25%;
}

.col-6 {
    width: 45%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
} */