* {
    box-sizing: border-box;        
}

.container {
    border: 1px solid black;
    padding: 0 !important;
    margin: 20px auto;
    width: 100vw;

}
/*************
*** HEADER ***
*************/
.nav {
    border: 1px solid silver;
}
.nav a {
   padding: 20px 30px;
   font-family: 'Merienda', cursive;
   font-size: 20px;
}

#searchFor,
button {
    border: none;
    background-color: white;
    color: silver;
    font-style: italic;
    height: 40px;
    margin: 18px 10px 18px 35px;
}

#searchFor {
    border-left: 1px solid silver;
    padding-left: 20px;
}
/*******************
******* MAIN *******
*******************/
.wrapper {
    display: grid;
    grid-template-columns: 25%;
    grid-gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px
}

.card1 {
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
}

.image {
    border: 1px solid black;
    grid-column-start: 2; 
    grid-column-end: 3; 
}

.text {
    border: 1px solid black;
    grid-column-start: 3;
    grid-column-end: 5;
}

/*******************
*** STEPS SECTION **
*******************/
.row {
    padding: 0;
    margin: 0;
}
.steps {
    grid-column-start: 1;
    grid-column-end: 4;
}

.step {
    width: 33.33%;
}


/* **************
** COL- WIDTH **
***************
.col-3 {
    width: 25%;
}

.col-6 {
    width: 45%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
} */